
input[id=Genero],
input[type=Number],
input[type=date],
input[type=text],
input[type=email],
textarea{
    text-align: center;
    width: 50%;
    padding-left: 5px;
    height: 30px;
    line-height: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
    
}
#formulario label
{
    size: 20px;
    text-transform: capitalize;
    font-size: 25px;
  
}

input[id=Limpar],
input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
}
#area
{
  position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:270px;
}
#area #form
{
  position:absolute;
  display:block;
}
fieldset
{
  background-color: wheat;
  position: relative;
  width:400px;
  height:400px;
}

body{
    border-top-style:solid ;
    border-radius: 10px;
    border-top-width: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#091428), to(#0A1428));
}
iframe.frame{
  border-top-color: lightcoral;
}

